/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    padding: 20px;
    color: steelblue;
}

.chart-container {
    display: inline-block;
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.chart {
    background-color: #fff;
}
.graph-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
